/* Use of CSS Grid learnt from Wes Bos CSS Grid Course  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    color: #193451;
    background-color: #E0DCBF;
    margin: 0;
}

h1 {
    font-family: 'Chicle', cursive;
    font-size: 48px;
    color: #193451;
    margin: 0px;
    padding: 20px 28px 10px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h4 {
    font-family: 'Chicle', cursive;
    font-size: 48px;
    color: #193451;
    margin: 0px;
    padding: 20px 28px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day {
    color: #943820;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px 0px 10px;
    color: #036770;
    text-align: center;
}

h3 {
    font-family: 'Chicle', cursive;
    font-size: 36px;
    margin: 0px;
    color: #193451;
    padding-top: 5px;
}

p {
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    align-self: center;
    margin: 0%;
}

img {
    width: 100%;
    margin: 0px;
    border-radius: 15px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Header Navigation Bar */
nav {
    font-family: 'Chicle', cursive;
    font-size: 36px;
    color: #ffffff;
    background-color: #036770;
    /* display: flex;
    justify-content: space-between; */
}

.sandgate {
    font-family: 'Chicle', cursive;
    font-size: 48px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 5px 10px 20px;

}

.grid-nav {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

nav ul.thing-2 {
    margin: 0px;
    padding: 0px 10px;
    grid-column-end: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Footer Navigation Bar */
footer {
    font-family: 'Chicle', cursive;
    font-size: 36px;
    color: #ffffff;
    background-color: #036770;
}

footer ul {
    display: flex;
    justify-content: space-between;
}

footer ul li {
    margin: 10px;
    padding: 0px;
}


ul li {
    list-style-type: none;
    padding: 10px 4px;
}

a {
    text-decoration: none;
    text-decoration-skip-ink: all;
    text-decoration-color: inherit;
    color: inherit;
}

a.body-link {
    text-decoration: underline;
    color: #193451;
}

a.h2-link {
    text-decoration: underline;
    color: #036770;
}

a h3 {
    text-decoration: underline;
    color: #193451;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: all;
    text-decoration-color: #ffffff;
}

a:visited {
    text-decoration: none;
}

/* HOME PAGE ------------------------------------------------------ */
.grid-home {
    display: grid;
    margin: 0 15px;
}

.sandgate-description {
    padding-bottom: 60px;
}

.landing-circle-top {
    height: 152px;
    width: 152px;
    background-color: #B5A439;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -15px -17px 0 21px #E1BEBA;
    display: flex;
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: -1;
    animation-name: fadein;
    animation-duration: 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1.landing-heading {
    font-family: 'Chicle', cursive;
    font-size: 96px;
    color: #193451;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 5px;
}

.landing-circle-bottom {
    height: 152px;
    width: 152px;
    background-color: #B5A439;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 24px 0 21px #E1BEBA;
    position: absolute;
    bottom: 249px;
    right: 28px;
    z-index: -1;
    animation-name: fadein;
    animation-duration: 1s;
}

.postcard {
    position: relative;
}

.postcard img {
    width: 100%;
}

.postcard-grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    animation-name: fadein;
    animation-duration: 1s;
}

.postcard-grid .postcard-title {
    justify-self: start;
    align-self: start;
    text-align: left;
    font-family: 'Chicle', cursive;
    font-size: 30px;
    color: #193451;
    padding-left: 20px;
    padding-top: 15px;
    justify-content: flex-start;
    align-items: flex-start
}

.home-circle {
    justify-self: end;
    height: 84px;
    width: 84px;
    text-align: center;
    border-radius: 50%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Chicle', cursive;
    font-size: 24px;
    text-align: center;
}

.home-circle.circle-day {
    background-color: #D69F06;
    box-shadow: -7px 8px 0 8px #E1BEBA;
}

.home-circle.circle-night {
    background-color: #B5A439;
    box-shadow: -7px 8px 0 8px #193451;
}


.postcard-grid .flag {
    align-self: center;
    width: 246px;
    height: 43px;
    box-sizing: content-box;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
}

.postcard-grid .flag.flag-day {
    background-color: #D69F06;
}

.postcard-grid .flag.flag-night {
    background-color: #E1BEBA;
}

/* Learnt to make flags from here: https://css-tricks.com/the-shapes-of-css/  */
.flag:after {
    content: "";
    position: absolute;
    left: 255px;
    bottom: 0;
    width: 0;
    height: 0;
}

.flag.flag-day:after {
    border-top: 21px solid #d69f06;
    border-right: 35px solid transparent;
    border-bottom: 22px solid #d69f06;
}

.flag.flag-night:after {
    border-top: 21px solid #E1BEBA;
    border-right: 35px solid transparent;
    border-bottom: 22px solid #E1BEBA;
}

/* CATEGORY PAGES-------------------------------------------------------- */

.photo-hidden {
    display: none;
    visibility: hidden;
}

.category {
    height: 272px;
    width: 272px;
    text-align: center;
    background-color: #E1BEBA;
    border-radius: 50%;
    margin: 20px auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: fadein;
    animation-duration: 1s;
}

.category p {
    padding: 5px 30px;
}

.category.shadow-offset-1 {
    box-shadow: 21px 0px 0 19px #D69F06;
}

.category.shadow-offset-2 {
    box-shadow: -21px 9px 0 15px #E1BEBA;
    background-color: #D69F06;
}

.category.shadow-offset-3 {
    box-shadow: 10px 24px 0 11px #D69F06;
}

/* Category Pages Night Mode */
.category.shadow-offset-1-night {
    box-shadow: 21px 0px 0 19px #193451;
    background-color: #B5A439;
}

.category.shadow-offset-2-night {
    box-shadow: -21px 9px 0 15px #B5A439;
    background-color: #193451;
    color: #ffffff;
}

.category.shadow-offset-2-night h3 {
    color: #ffffff;
}

.category.shadow-offset-3-night {
    box-shadow: 10px 24px 0 11px #193451;
    background-color: #B5A439;
}

/* LOCATION PAGES ------------------------------------------------------------- */
/* Grid of hours */
.container-location-details {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "heading        heading"
        "shape          item-hours"
        "shape          location"
}

.heading {
    grid-area: heading;
}

.location {
    grid-area: location;
}

.small-circle {
    height: 120px;
    width: 120px;
    text-align: center;
    background-color: #E1BEBA;
    border-radius: 50%;
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4vw 0vw 0 3vw #D69F06;
    grid-area: shape;
    animation-name: fadein;
    animation-duration: 1s;
}

.small-circle-night {
    height: 120px;
    width: 120px;
    text-align: center;
    background-color: #B5A439;
    border-radius: 50%;
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4vw 0vw 0 3vw #193451;
    animation-name: fadein;
    animation-duration: 1s;
    /* grid-area: shape; */
}

aside {
    padding: 5px 28px;
}

.container-location-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-hours {
    padding: 0px 0px 8px 0px;
    grid-area: item-hours;
}

/* GRID OF BODY CONTENT------------------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
}

.content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;
}

.item-1,
.item-5,
.item-9 {
    background-color: #E1BEBA;
}

.item-3,
.item-7 {
    background-color: #D69F06;
}

.item-1-night,
.item-5-night,
.item-9-night {
    background-color: #B5A439;
}

.item-3-night,
.item-7-night {
    background-color: #193451;
    color: #ffffff;
}

/* ABOUT SANDGATE PAGE------------------------------------------------------------------------ */
.grid-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10;
    grid-gap: 2px;
    width: 100%;
    height: 100%;
}

.item-about {
    padding: 5px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-mac-only {
    display: none;
    visibility: hidden;
}

/* MEDIA QUERY IPAD---------------------------------------------------------- */

@media screen and (max-width: 1019px) and (min-width: 700px) {

    /* HOME PAGE-------------------------------------------------------- */
    .index-padding {
        padding: 0px 35px;
    }


    .mobile-only {
        display: none;
        visibility: hidden;
    }

    .landing-circle-top {
        height: 210px;
        width: 210px;
    }

    h1.landing-heading {
        display: flex;
        align-items: flex-start;
    }

    .landing-circle-bottom {
        height: 210px;
        width: 210px;
        position: absolute;
        bottom: 547px;
    }

    .postcard {
        max-width: 670px;
    }

    .postcard.postcard-day img {
        max-width: 669px
    }

    .postcard.postcard-night img {
        max-width: 669px;
    }

    .postcard-grid .postcard-title {
        justify-self: start;
        align-self: center;
        font-size: 53px;
    }

    .home-circle {
        justify-self: center;
        align-self: center;
        height: 130px;
        width: 130px;
        font-size: 36px;
    }

    .postcard-grid .flag {
        width: 483px;
        height: 53px;
        justify-content: flex-start;
        font-size: 18px;
        padding-left: 20px;
    }

    .flag:after {
        position: absolute;
        left: 502px;
    }

    .flag.flag-day:after {
        border-top: 27px solid #d69f06;
        border-right: 35px solid transparent;
        border-bottom: 26px solid #d69f06;
    }

    .flag.flag-night:after {
        border-top: 27px solid #E1BEBA;
        border-right: 35px solid transparent;
        border-bottom: 26px solid #E1BEBA;
    }

    /* CATEGORY PAGE --------------------------------------------------------------------*/

    .photo-hidden {
        display: inline;
        visibility: visible;
    }

    .container-day {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        padding: 20px 28px;
    }

    /* CONTENT PAGE ASIDE DETAILS------------------------------------------------------------------- */
    .container-location-details {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "heading     heading     shape"
            "location     item-hours ."
    }

    .heading {
        grid-area: heading;
    }

    .shape {
        grid-area: shape;
    }

    .location {
        grid-area: location;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .item-hours {
        grid-area: item-hours;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    h1 {
        font-size: 99px;
    }

    h2 {
        font-size: 24px;
    }

    h4 {
        font-size: 99px;
    }

    .item.small-circle {
        height: 200px;
        width: 200px;
        text-align: center;
        background-color: #E1BEBA;
        border-radius: 50%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 19px 0px 0 18px #D69F06;
    }

    .item.small-circle-night {
        height: 200px;
        width: 200px;
        text-align: center;
        background-color: #B5A439;
        border-radius: 50%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 19px 0px 0 18px #193451;
    }

    /* LOCATION PAGE CONTENT--------------------------------------------------------- */
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    img {
        max-width: 385px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .item-1,
    .item-2,
    .item-9,
    .item-10 {
        background-color: #E1BEBA;
    }

    .item-5,
    .item-6 {
        background-color: #D69F06;
    }

    .item-3,
    .item-7 {
        background-color: #E0DCBF;
    }

    .item-1-night,
    .item-2-night,
    .item-9-night,
    .item-10-night {
        background-color: #B5A439;
    }

    .item-5-night,
    .item-6-night {
        background-color: #193451;
        color: #ffffff;
    }

    .item-3-night,
    .item-7-night {
        background-color: #E0DCBF;
        color: #193451;
    }

    /* ABOUT PAGE ----------------------------------------------------------------------------------- */

    .grid-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photo-mac-only {
        display: none;
        visibility: hidden;
    }

    .item-2-about {
        grid-row: 1 / 3;
        display: flex;
        justify-content: flex-start;
    }

    .item-4-about,
    .item-5-about,
    .item-6-about,
    .item-7-about {
        grid-column: 1 / -1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* MEDIA QUERY LAPTOP------------------------------------------------------------------------ */
@media screen and (min-width: 1020px) {
    main {
        max-width: 1440px;
        margin: 0 auto;
    }

    /* HOME PAGE------------------------------------------------------------------ */

    .index-padding {
        padding: 0px 60px;
    }

    .mobile-only {
        display: block;
        visibility: visible;
    }

    .grid-home {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }

    .sandgate-description {
        grid-column: span 2;
        padding-bottom: 80px;
    }

    .sandgate-description p {
        padding-left: 30px;
    }

    .landing-circle-top {
        height: 240px;
        width: 240px;
    }

    .landing-circle-bottom {
        height: 240px;
        width: 240px;
        bottom: 374px;
    }

    h1.landing-heading {
        font-size: 144px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .postcard-grid .postcard-title {
        justify-self: flex-start;
        align-self: center;
        text-align: left;
        font-size: 36px;
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 25px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .postcard-grid .flag {
        align-self: flex-start;
        font-size: 18px;
    }

    .home-circle {
        justify-self: center;
        align-self: center;
    }



    /* CATEGORY PAGE ----------------------------------------------------------*/

    .photo-hidden {
        display: inline;
        visibility: visible;
    }

    .container-day {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 28px;
        grid-template-areas:
            "circle1 circle2 circle3"
            "photo1 photo2 photo3"
    }

    .circle1 {
        grid-area: circle1;
    }

    .circle2 {
        grid-area: circle2;
    }

    .circle3 {
        grid-area: circle3;
    }

    .photo1 {
        grid-area: photo1;
    }

    .photo2 {
        grid-area: photo2;
    }

    .photo3 {
        grid-area: photo3;
    }

    .container-location-details {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "heading     item-hours     shape"
            "heading     location       ."
    }

    .heading {
        grid-area: heading;
    }

    .shape {
        grid-area: shape;
    }

    .location {
        grid-area: location;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .item-hours {
        grid-area: item-hours;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h1 {
        font-size: 144px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 144px;
    }

    .item.small-circle {
        height: 200px;
        width: 200px;
        text-align: center;
        background-color: #E1BEBA;
        border-radius: 50%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 24px 0px 0 22px #D69F06;
        /* grid-area: shape; */
    }

    .item.small-circle-night {
        height: 200px;
        width: 200px;
        text-align: center;
        background-color: #B5A439;
        border-radius: 50%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 24px 0px 0 22px #193451;
        /* grid-area: shape; */
    }

    .grid {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    img {
        max-width: 650px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .item-1,
    .item-2,
    .item-9,
    .item-10 {
        background-color: #E1BEBA;
    }

    .item-5,
    .item-6 {
        background-color: #D69F06;
    }

    .item-3,
    .item-7 {
        background-color: #E0DCBF;
    }

    .item-1-night,
    .item-2-night,
    .item-9-night,
    .item-10-night {
        background-color: #B5A439;
    }

    .item-5-night,
    .item-6-night {
        background-color: #193451;
        color: #ffffff;
    }

    .item-3-night,
    .item-7-night {
        background-color: #E0DCBF;
        color: #193451;
    }

    /*ABOUT PAGE------------------------------------------------------------------------------------------ */

    .mac-align {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .photo-mac-only {
        display: inline;
        visibility: visible;
    }

    .grid-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 300px;
    }

    .item-2-about {
        grid-row: 1 / 3;
        display: flex;
        justify-content: flex-start;
    }

    .item-1-about,
    .item-3-about {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .item-4-about {
        grid-column: 1 / -1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .item-5-about {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .pic2 {
        width: 70%;

    }

}